body {
  margin: 0;
  padding: 0;
  background-color: burlywood;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.folio-background {
  background-image: url(assets/folio_lineas.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  height: 90%;
  width: auto;
  aspect-ratio: 1 / 1.414;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.libreta-background {
  background-image: url(assets/folio_lineas.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  height: 90%;
  width: auto;
  aspect-ratio: 1 / 1.414;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.contenido {
  width: 82%;
  height: 100%;
  align-self: flex-end;
  box-sizing: border-box;
}

.gameTitle {
  text-align: center;
  margin-top: 1.25em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.explication {
  background-color: #282c34;
  width: 100%;
  text-align: justify;
  align-items: center;
  align-content: center;
}

.game01 {
  margin-left: 0.25em;
  padding-top: 0.9em;
  text-align: justify;
}

.game01 table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px 0.1em;
  margin: 0 auto;
}

.game01 table tbody tr td input {
  border: 0px;
  width: 50%;
}

.game02 {
  margin-left: 0.25em;
}

.game02 table {
  width: 100%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0 1em;
  text-align: center;
}

.gameHeader{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2em;
  margin-right: 1em;
}